.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-wrapper {
    margin-top: 7%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container input {
    border: none;
    padding: 0.5rem 1rem;
    font-size: large;
}

.container button {
    background-color: #4BAF50;
    font-size: large;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: white;
    margin: 0.5rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-inline: 2rem;
}

.weather-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-inline: 2rem;
}

p {
    font-size: larger;
}

.weather-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 4rem;
    background-color: white;
    margin: 0.5rem;
    border-radius: 8px;
    line-height: 0.75rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 125px;
    height: 65px;
}
